@import 'variables';

// ログインボタン
.login-btn {
  color: $text-base-color;
  background-color: $primary-color;
  border-radius: 5px;
  padding: 10px 10px;
}

// ログイン画面の送信ボタン
.submit {
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px 0;
  margin-top: 400px;
  font-size: 15px;
}

// その他送信ボタン
.btn-primary {
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px 0;
  margin-top: 250px;
  font-size: 15px;
}

// 新たな要素の追加
.add-new-item {
  margin-top: 30px;
  padding: 30px 20px;
  border: 1px solid $line-base-color;
  text-decoration: none;
  text-align: center;
}

// taskのみ適用
.add-new-task {
  margin: 30px 15px;
}

.add-new-item-btn {
  color: $text-base-color;
}