@import 'variables';
@import 'btn';
@import 'dropdown';
@import 'form';
@import 'header';
@import 'devise';
@import 'board';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  font-size: 1em;
  color: $text-base-color;
}

.container {
  padding: 0 15px 30px 15px;
  width: 100%;
}

.headline {
  color: rgb(31, 30, 30);
  padding: 12px 17px 0px 17px;
}

a {
  text-decoration: none;
}
