@import 'variables';

.tabs {
  display: flex;
  margin: 30px;
}

.all, .timeline {
  border: 1px solid;
  padding: 15px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.all a,
.timeline a {
  display: block;
}

.all a {
  color: #fff;
}

.timeline a {
  color: $text-base-color;
}

.all {
  background-color: $primary-color;
  color: #fff;
}

.timeline {
  background-color: #738d9973;
  color: #738d99;;
}

.board {
  background-color: #b1acac24;
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: 30px;
  border: 1px solid $line-base-color;
}

.board-title, .board-content {
  margin-bottom: 20px;
}

.board-items {
  display: flex;
  justify-content: space-between;
}

.board-info {
  display: flex;

  p {
    margin-left: 10px;
  }
}

