@import 'variables';

.tabs {
  display: flex;
  margin: 30px;
}

.tabs-item {
  border: 1px solid;
  padding: 15px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: #738d9973;
  color: #738d9973;
  cursor: pointer;
}

.tabs-item a {
  display: block;
  color: #3e3c3c8f;;
}

.active {
  background-color: $primary-color;
  color: $primary-color;
}

.active a {
  color: #fff;
}

.board {
  background-color: #b1acac24;
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: 30px;
  border: 1px solid $line-base-color;
}

.board-title, .board-content {
  margin-bottom: 20px;
}

.board-items {
  display: flex;
  justify-content: space-between;
}

.board-info {
  display: flex;

  p {
    margin-left: 10px;
  }
}

