@import 'variables';

.comment-item {
  background-color: #ffeb3b57;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid $primary-color;
  display: flex;
  align-items: center;
}

.comment-content {
  margin-left: 10px;
}