@import 'variables';

.comment-wrapper {
  background-color: #ffeb3b57;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid $primary-color;

  .comment-content {
    margin-bottom: 10px;
  }

  .comment-like {
    display: flex;
    align-items: center;
    margin-bottom: 3px;

    img {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }

  .comment-user-info {
    display: flex;
    align-items: center;

    p {
      margin-left: 10px;
    }
  }
}
